@charset "UTF-8";
/* CSS Document */

/****************************** General Layout *******************************/
body {
	margin: 0;
	padding: 0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.container {
	margin: 0 auto;
	padding: 0;
	max-width: 990px;
	min-width: 480px;
}

.container-overflow {
	overflow: hidden;
	text-align: left;
}

.clearfloat {
	width: 100%;
	clear: both;
}

.inline-list {
	display: inline;
  	margin: 10px 0;
  	list-style: none;
}

/*****************************************************************************/


/*************************** Header & Navigation *****************************/
header, footer {
	background: #600;
}

.header-left {
	width: 60%;
	float: left;
}

nav {
	width: 40%;
	float: left;
	margin: 0.95em 0;
}

.menu-list {
	margin: 0;
}

.menu-list li {
	list-style: none;
	margin: 0;
 	display: inline-block;
}

.menu-list a:link {
	color: #fff;
	display: inline-block;
	padding: 0.45em 0.5em;
 	border-radius: 0.25em;
}

.menu-list a:hover,
.menu-list .active {
	background: #CF9;
	color: #600;
}

/***************************************************************************/


/****************************** Content ***********************************/

.contentleft {
	width: 65%;
	float: left;
}

.content-inner {
	width: auto;
	margin: 1.5em 0 2em;
}

.contentright {
	width: 35%;
	color: #000;
	float: left;
}

.content-inner-right {
	margin-left: 3em;
}
/***************************************************************************/


/********************************* Footer *********************************/

.socialmedia {
	width: 25%;
	min-width: 100px;
	float: right;
}

.footer-left {
	max-width: 742px;
	min-width: 200px;
	float: left;
}

.small-column {
	max-width: 247px;
	min-width: 100px;
	float: left;
	padding: 5px;
}

/************************************************************************/


/********************************* Text *********************************/
.text-black {
	color: #000;
}

.text-white {
	color: #FFF;
}

.text-center {
	text-align: center;
}

.footer-text {
	font-size: 0.85em;
	font: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p {
	margin: 10px 0;
	font-size: 1em;
}

h1 {
	font-size: 1.6em;
	color: #FFF;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
	font-weight: bold;
}

h5 {
	font-size: 1em;
	font: normal italic Georgia, "Times New Roman", Times, serif;
}

h1, .text-white a, a:visited, a:hover {
	color: #FFF;
	text-decoration: none;
}

h1 {
	margin: 0.67em 0;
}

.content-inner a {
	color: #600;
	font: bold;
	text-decoration: none;
}

header, footer {
	color: #FFF;
}

footer a, footer a:visited, footer a:hover, footer a:active {
	color: #FFF;
	font: bold;
}

nav a:hover, nav a:active {
	background: #CF9;
	color: #600;
}

/***************************************************************************/



/********************************** Images *********************************/
.image_right {
	width: auto;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
	right: 0px;
	bottom: 0px;
}

.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.bottom-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #333;
	   -moz-box-shadow: 0 8px 6px -6px #333;
	        box-shadow: 0 8px 6px -6px #333;
}

/***************************************************************************/



/********************************** Alerts *********************************/
.alert {
	border-radius: 15px;
	text-align: center;
	width: auto;
	margin: 5px;
	padding: 2px;
	background-color: #CFF;
	border: solid #00F 3px;
}

.alert-victory {
	background-color: #DCFFC0;
	border: solid #0C3 3px;
}

.alert-warning {
	background-color: #FFC8BC;
	border: solid #F00 3px;
}

.alert-error {
	background-color: #FFF7BC;
	border: solid #F90 3px;
}

/************************************************************************/