/**** Tooltips ****/

.tooltip span
	display: none
	position: absolute
	background: $black
	color: $white
	padding: 5px
	top: -20px
	z-index: 1

.tooltip
	position: relative
	text-decoration: none

.tooltip:hover span
	display: block