$font-base: 1em
$sans-serif: Tahoma, Geneva, sans-serif
$serif-body: "Crimson Text", serif
$serif-title: "IM Fell English", serif
$white: #FFF
$black: #000000
$green: #CF9
$light-brown: #97190F
$brown: #7A130C
$brown-shadow: #3A0000
$dark-grey: #404040

@mixin width-float($width, $float)
	width: $width
	float: $float

@mixin nav-now
	background: $green
	color: $brown

@mixin inner-shadow($horiz, $vert, $blur, $spread, $color)
	-webkit-box-shadow: $horiz $vert $blur $spread $color
	-moz-box-shadow: $horiz $vert $blur $spread $color
	box-shadow: $horiz $vert $blur $spread $color

@mixin alert($background-color, $border-color)
	background-color: $background-color
	border-color: $border-color

// Imported 3rd-Party CSS
@import "reset"

// Imported Stylesheets made for this project
@import "genlayouttypography"
@import "headernavfooter"
@import "maincontent"
@import "alert"
@import "media"
@import "tooltip"