!!!5

%html(xmlns="http://www.w3.org/1999.xhtml")
	%head
		%link(href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700|IM+Fell+English:400,400italic' rel='stylesheet' type='text/css')
		%meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		%title
			Home | Fran&apos;s CSS Adventures
		%link(rel="stylesheet" type="text/css" href="css/global.css")

	%body
		/ Header and Navigation
		%header
			.container
				.header-left
					%h1
						%a(href="index.html")Fran&apos;s CSS Adventures
				%nav
					%ul.nav-list
						%li
							%a.active(href="index.html")Home
						%li
							%a(href="about.html")About
						%li
							%a(href="experiments.html")Experiments
						%li
							%a(href="blog.html")Blog

		/ Main Content
		.maincontent
			.container
				.contentleft
					%section.content-inner
						%h2 Here There Be CSS
						%p
							Welcome to this chronicle of a Starter League student. This site serves as a showcase of my Advanced HTML/CSS class assignments and
							<a href="experiments.html">experiments</a>. To find out more about what I&apos;ve learned, check out my <a href="blog.html">blog</a>.
				.contentright
					%aside
						%p
							Insert flattering <a href="about.html">photo</a> here.
						%p.text-center
							Fran Levy
					%aside
						%p
							Additional sidebar content goes here.
					%aside
						%p
							And here.
					%aside
						%p
							And here.

		/ Footer
		%footer
			.container
				.footer-left
					%p
						&copy; 2013 Fran Levy. All rights reserved.
				.socialmedia
					%p
						Insert social media here
		%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
		%script(src="js/script.js")
