/*** html5doctor.com Reset Stylesheet ** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/***** General Layout & Typography ***** */
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px; }

.container {
  margin: 0 auto;
  padding: 0 3%;
  width: 94%;
  max-width: 1000px;
  overflow: hidden;
  text-align: left; }

.clearfloat {
  width: 100%;
  clear: both; }

/* .inline-list margin 0.625em = 10px based on default body font size of 1em = 16px */
.inline-list {
  display: inline;
  margin: 0.625em;
  list-style: none; }

.text-center {
  text-align: center; }

a {
  text-decoration: none; }

/* p margin 0.625em = 10px based on default body font size of 1em = 16px */
p {
  margin: 0.625em 0;
  font-size: 1em;
  line-height: 1.3em; }

h1 {
  margin: 0.4em 0 0.4em;
  font-size: 2.5em;
  font-weight: normal;
  font-family: "IM Fell English", serif;
  font-style: italic;
  letter-spacing: 0.1em; }
  h1 a, h1 a:visited, h1 a:hover {
    color: white; }

h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", serif; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em;
  font-weight: bold; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1em; }

/*** Header, Navigation, & Footer *** */
header {
  background: #7a130c;
  -webkit-box-shadow: inset 0 0 0.5em #3a0000;
  -moz-box-shadow: inset 0 0 0.5em #3a0000;
  box-shadow: inset 0 0 0.5em #3a0000; }

.header-left {
  width: 50%;
  float: left; }

nav {
  width: 50%;
  float: left;
  margin: 1em 0;
  font-family: "IM Fell English", serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em; }
  nav a:hover, nav a:active {
    background: #ccff99;
    color: #7a130c; }

.nav-list {
  margin: 0;
  float: right; }
  .nav-list li {
    list-style: none;
    margin: 0;
    display: inline-block; }
  .nav-list a {
    color: white;
    display: inline-block;
    padding: 0.65em;
    border-radius: 2em; }
  .nav-list .active, .nav-list a:hover {
    background: #ccff99;
    color: #7a130c; }

footer {
  background: #7a130c;
  color: white;
  font-family: "IM Fell English", serif;
  font-weight: bold;
  font-size: 0.9em;
  font-letter-spacing: 0.3em;
  -webkit-box-shadow: inset 0 0 0.5em #3a0000;
  -moz-box-shadow: inset 0 0 0.5em #3a0000;
  box-shadow: inset 0 0 0.5em #3a0000; }
  footer a, footer a:visited, footer a:hover, footer a:active {
    color: white;
    font-weight: bold; }

.footer-left {
  width: 60%;
  float: left; }

.small-column {
  width: 25%;
  float: left;
  padding: 1em; }

.socialmedia {
  width: 40%;
  float: right; }

/****** Main Content ****** */
/* 1em = 16px based on body font size */
.maincontent {
  -webkit-box-shadow: inset 0 0 1em black;
  -moz-box-shadow: inset 0 0 1em black;
  box-shadow: inset 0 0 1em black; }

.contentleft {
  width: 70%;
  float: left; }

.contentright {
  width: 30%;
  float: left;
  color: black; }

.content-inner, aside {
  width: auto;
  margin: 1.5em 0 2em; }
  .content-inner a, aside a {
    color: #7a130c;
    font-weight: bold;
    font-size: 1.05em;
    text-decoration: none; }

aside {
  margin-left: 3em;
  font-size: 0.95em; }

/***** Alerts ***** */
.alert {
  text-align: center;
  width: auto;
  margin: 1em 0;
  padding: 0.5em;
  border-radius: 2em;
  border-style: solid;
  border-width: 0.25em;
  background-color: #ccffff;
  border-color: cyan; }

.alert-victory {
  background-color: #dcffc0;
  border-color: #00cc33; }

.alert-warning {
  background-color: #ffc8bc;
  border-color: red; }

.alert-error {
  background-color: #fff7bc;
  border-color: #ff9900; }

/*** Media Queries *** */
